<div class="sale-container">
    <div class="sale-container-header">
        <mat-icon>attach_money</mat-icon>
        <span>Items on sale</span>
    </div>
    <table>
        <thead>
            <th></th>
            <th>Cost</th>
            <th>Avg Cost</th>
            <th>Difference</th>
        </thead>
        <tbody>
            @for (item of itemsForPage; track item.id) {
            <tr>
                <td><item-info [item]="item" /></td>
                <td>${{ item.currentPrice | number : '1.2-2' }}</td>
                <td>${{ item.averagePrice | number : '1.2-2' }}</td>
                <td>{{ item.currentDiffFromAvgPrice | number : '1.2-2' }}</td>
            </tr>
            }
        </tbody>
    </table>
    <mat-paginator
        [length]="itemsFiltered.length"
        [pageSize]="pageSize"
        (page)="handlePageEvent($event)"
        hidePageSize="true"
    ></mat-paginator>
</div>
