@if (items) {
<div class="sale-container">
    <div class="sale-container-header">
        <mat-icon>attach_money</mat-icon>
        <span>Items on sale</span>
    </div>
    <table>
        <thead>
            <th></th>
            <th>Cost</th>
        </thead>
        <tbody>
            @for (item of itemsForPage; track item.id) {
            <tr (click)="itemSelected.emit(item)">
                <td><item-info [item]="item" /></td>
                <td>
                    ${{ item.currentPrice | number : '1.2-2' }}
                    <span class="item-price-difference">({{ item.currentDiffFromAvgPrice | number : '1.2-2' }})</span>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <mat-paginator
        [length]="itemsFiltered.length"
        [pageSize]="pageSize"
        (page)="handlePageEvent($event)"
        hidePageSize="true"
    ></mat-paginator>
</div>
}
