.modal-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    --animate-duration: 300ms;
    background-color: rgba(0, 0, 0, 0.15);
    --gray-accent: #c4c4c4;
}

.modal-content {
    min-width: min(600px, 75vw);
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
