@if (!isLoading) { @if (items$ | async; as items) {
<items-on-sale [items]="items" (itemSelected)="selectItem($event)" />
} @if (selectedItem) {
<item-modal [item]="selectedItem" (close)="selectedItem = null" />
} } @else {
<loading />
}
<!-- @if (isLoading$ | async; as isLoading) { @if (!isLoading) { @if (items$ | async; as items) {
<items-on-sale [items]="items" (itemSelected)="selectItem($event)" />
} @if (selectedItem) {
<item-modal [item]="selectedItem" (close)="selectedItem = null" />
} } @else {
<div>loading</div>
} } -->
